@import "../variables.scss";

.cssbuttons-io {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #2de25a, #00e043);
  overflow: hidden;
  color: $primary-color;
  width: 100%;
  .currentColor {
    font-size: 20px;
  }
  &:hover {
    color: $text-dark-mode;
  }
  svg {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
  }

  span {
    position: relative;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center;
    padding: 0.6em 1.2em 0.6em 1.05em;
    text-transform: uppercase;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  &::before {
    content: "";
    background: $text-dark-mode;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    z-index: 0;
  }

  &:hover::before {
    transform: translate3d(100%, 0, 0);
  }

  &:active {
    transform: scale(0.95);
  }
}
