:root {
  // Dark
  --primary-color: #242424;
  --text-dark-mode: white;
  --bg-card-product: #000000a4;
  // Light
  --bg-card-product-light: #ffffffa4;
  --transparent-black: #000000a4;
}

$primary-color: var(--primary-color);
$text-dark-mode: var(--text-dark-mode);

$bg-card-product: var(--bg-card-product);
$bg-card-product-invert: var(--transparent-black);
